<html>
    <head>
        <title>Городской портал</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Городской портал</a></h1>
            <h2>Расскажите нам о проблемах в городе</h2>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Заявка1</a></h2>
            <p>тут жалуемся бла бла бла</p>
        </div>

         <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Заявка2</a></h2>
            <p>тут жалуемся бла бла бла</p>
        </div>


    </body>
</html>